/*
colors Template
Pink FDC9C9
blue C9EFCB
purple DBC9E9
orange FFE7C9
green C9F4FB
yellow FFFAC9 
*/ 


body {
  color: rgb(0, 0, 0);
  font: 80;
  font-family: monospace;
  padding: 0px;
  margin: 0px;
}

header {
    background-color: #DBC9E9;
    padding: 5px;
    width: auto;
    height: 50px
}

section {
    position: relative;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    flex-direction: row;
    display: flex;
    flex-direction: row;
}

.textarea{
  width: 90%;
  height: 100px;
  padding: 20px;
  text-overflow: initial;
  box-sizing: border-box;
  border: 2px solid #DBC9E9;
  border-radius: 7px;
  background-color: #f8f8f8;
  resize: auto;
}

.comment-area{
  width: 30%;
  height: 100px;
  padding: 20px;
  text-overflow: initial;
  box-sizing: border-box;
  border: 2px solid #DBC9E9;
  border-radius: 7px;
  background-color: #f8f8f8;
  resize: auto;
  margin: 20px;
}

.submit {
  width: 100px;
  height: 30px;
  margin-top: 3px;
  box-sizing: border-box;
  border: 2px solid #c18de8;
  border-radius: 8px;
  background-color: #DBC9E9;
  color: black;
  font-weight: bold;
  resize: none;
}

div {
  background-color: pink;
  align-items: center;
  width: auto;
  padding: 5px;
}

.comment-box {
  width: 180px;
  height:50px;
  background-color: #FDC9C9;
  text-align: left;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: visible;
  padding: 10px;
}

section#post-comments {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the column width as needed */
  grid-gap: 10px; /* Adjust the gap between grid items */
  list-style-type: none;
}

#post-comment-page {
margin: 20px;
}

.invisible {
  visibility: hidden;
}

div.post {
  width: 200px;
  height: 200px;
  background-color: white;
  display: inline-block;
  margin: none;
}

section#posts {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 50px; 
}

.story {
  width: 180px;
  height:180px;
  background-color: #C9EFCB;
  text-align: center;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: visible;
  padding: 10px;
}


.like {
  float: left;
  background-color:#FFFAC9;
  width: 90px;
  padding: 5px;
  text-align-last: center;
}

.comment {
  float: left;
  background-color:#DBC9E9;
  width: 90px;
  padding: 5px;
  text-align-last: center;
}

ul {
  margin: auto;
  list-style-type: none;
  text-decoration: none;
  display: table ;
  width: 100%;
  text-align: center;
}

button {
  width: 100px;
  height: 30px;
  margin-top: 3px;
  box-sizing: border-box;
  border: 1px solid #fe6f6f;
  border-radius: 8px;
  background-color: #FDC9C9;
  color: black;
  font-weight: bold;
  resize: none;}


div.container {
  color: rgb(0, 0, 0);
  justify-content: space-between;
  width: 500px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  display: flex;
  margin: auto;
  padding: 20px;
  border: 2px solid #a250e1 ;
  background-color: #DBC9E9;
}

span {
  height: 20px;
}


li:hover{
  text-decoration: underline;
  background-color:#c79be8;
}

li {
  padding: 5px;
  margin: 5px;
  margin-left: 10px;
  display: inline-block;

}

ul.settings {
  display: flexbox;
  flex-direction: column;
}

.profile {
  height: 50px;
  width: 50px;
  align-content: center;
  float: center;
}

.dialog {
  z-index: 1;
  box-sizing: border-box;
  border: 2px solid #DBC9E9;
  border-radius: 2px;
  background-color: #f8f8f8;
  text-align: center;
  } 


